.about-project {
  background-color: #FFF;
  width: 100%;
}

.about-project__top {
  width: 89%;
  max-width: 1140px;
  margin: 0 auto 70px;
  padding: 110px 0 23px;
  border-bottom: 1px solid #000;
}

.about-project__title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

.about-project__details {
  max-width: 1280px;
  display: grid;
  column-gap: 40px;
  row-gap: 26px;
  grid-template-columns: repeat(auto-fit, 550px);
  justify-content: center;
  margin: 0 auto 110px;
}

.about-project__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0;
}

.about-project__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.about-project__timing {
  width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 14px;
  justify-items: center;
  margin-bottom: 110px;
}

.about-project__backend-timing {
  background-color: #000;
  color: #FFF;
  padding: 9px 0;
  width: 228px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.about-project__frontend-timing {
  background-color: #F2F2F2;
  color: #000;
  padding: 9px 0;
  width: 912px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.about-project__timing-description {
  color: #A0A0A0;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

@media (max-width: 1279px) {
  .about-project__details {
    max-width: 668px;
    display: grid;
    column-gap: 30px;
    row-gap: 22px;
    grid-template-columns: repeat(auto-fit, 319px);
    justify-content: center;
    margin: 0 auto 93px;
  }
  .about-project__timing {
    width: 668px;
    margin-bottom: 90px;
  }
  .about-project__frontend-timing {
    width: 528px;
  }
  .about-project__backend-timing {
    width: 140px;
  }
  .about-project__top {
    max-width: 668px;
    padding-top: 90px;
  }
  .about-project__description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 767px) {
  .about-project__details {
    max-width: 284px;
    display: grid;
    row-gap: 16px;
    margin-bottom: 60px;
    grid-template-columns: repeat(auto-fit, 284px);
  }
  .about-project__top {
    margin-bottom: 60px;
    padding: 70px 0 28px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    width: 284px;
  }
  .about-project__title {
    font-size: 18px;
    line-height: 22px;
  }
   .about-project__text {
    order: 0;
    font-size: 18px;
    line-height: 22px;
  }
  .about-project__description {
    order: 1;
    font-size: 11px;
    line-height: 16px;
  }
  .about-project__second-text {
    order: 2;
    margin-top: 40px;
  }
  .about-project__second-description {
    order: 3;
  }
  .about-project__timing {
    width: 284px;
    margin-bottom: 70px;
  }
  .about-project__frontend-timing {
    width: 184px;
  }
  .about-project__backend-timing {
    width: 100px;
  }
}