.techs {
  background-color: #F5F5F5;
  width: 100%;
  color:#000;
  font-weight: 400;
}

.techs__top {
  max-width: 1140px;
  margin: 0 auto 90px;
  padding: 110px 0 23px;
  border-bottom: 1px solid #000;
}

.techs__title {
  margin: 0;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.techs__container {
  margin: 0 auto; 
  width: 600px;
  text-align: center; 
}

.techs__subtitle {
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.techs__text {
  font-size: 14px;
  line-height: 20px;
  width: 460px;
  margin: 26px auto 100px; 
  line-height: 20px;
  letter-spacing: -0.04em;
}

.techs__grid {
  width: 690px;
  margin: 0 auto;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 10px;
  align-items: center;
}

.techs__grid-cell {
  width: 90px;
  height: 60px;
  background-color: #E8E8E8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techs__name {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
}

.techs__grid-cell:hover {
  background: linear-gradient(180deg, rgba(168,143,240,1) 0%, rgba(155,189,255,1) 50%, rgba(218,219,240,1) 100%);
}

@media (max-width: 1279px) {
  .techs__top {
    max-width: 668px;
    margin: 0 auto 80px;
    padding-top: 90px;
  }
  .techs__text {
    margin: 22px auto 83px; 
  }
  .techs__grid {
    grid-template-columns: repeat(auto-fit, 84px);
    justify-content: center;
  }
  .techs__grid-cell {
    width: 84px;
    height: 57px;
  }
}

@media (max-width: 767px) {
  .techs {
    background-color: #FFF;
  }
  .techs__top {
    max-width: 284px;
    margin: 0 auto 60px;
    padding: 70px 0 28px;
  }
  .techs__container {
    width: 292px;
  }
  .techs__title {
    font-size: 18px;
    line-height: 22px;
  }
  .techs__subtitle {
    font-size: 30px;
    line-height: 36px;
    width: 292px;
  }
  .techs__text {
    margin: 24px auto 50px; 
    font-size: 11px;
    line-height: 16px;
    width: 292px;
  }
  .techs__grid {
    width: 178px;
    padding-bottom: 60px;
  }
  .techs__grid-cell {
    width: 84px;
    height: 57px;
  }
  .techs__name {
    font-size: 12px;
    line-height: 15px;
  }
  .techs__grid-cell {
    margin-bottom: 10px;
  }
}