.about-me {
  background-color: #FFF;
  width: 100%;
  color:#000
}

.about-me__top {
  max-width: 1140px;
  margin: 0 auto 66px;
  padding: 110px 0 23px;
  font-weight: 400;
  border-bottom: 1px solid #000;
}

.about-me__container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about-me__text-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-bottom: 101px;
}

.about-me__title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
}

.about-me__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin-bottom: 18px;
}

.about-me__info {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 26px;
}

.about-me__story {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 90px;
}

.about-me__pic {
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
}

.about-me__links-container {
  display: flex;

}

.about-me__link {
  color:#000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.about-me__link:last-of-type {
  margin-left: 20px;
}

.about-me__link:hover {
  opacity: .6;
  transition: opacity .1s ease;
}